* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 375px;
  height: 638px;
  margin: 3.5% 40%;
  border: 5px solid palevioletred;
  background-image: url(image/header-shape.png);
  background-repeat: no-repeat;
}

button {
  background-color: white;
}

header {
  box-sizing: border-box;
  height: 100px;
  width: 90%;
  padding: 0 0 0 20px;
  border-radius: 0.25;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: fit-content;
  font-style: normal;
  color: #6070ff;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  font-weight: 700;
  margin: 50px 20px;
  text-decoration: none;
}

section {
  flex-wrap: wrap;
  padding: 20px;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  padding: 10px;
}

h5 {
  color: blueviolet;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.button:hover {
  background-color: aqua;
  cursor: pointer;
}

li:hover {
  background-color: aqua;
  cursor: pointer;
}
